html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #F9EBFF;
    display: grid;
}

header {
    grid-area: header;
    justify-content: space-between;
    padding: 0 50px;
}

footer {
    grid-area: footer;
    justify-content: center;
}

header,
footer {
    display: flex;
    align-items: center;
    background-color: #381B48;
}

sidebar {
    grid-area: sidebar;
    background-color: #B28DC3;
    padding: 15px;
}

main {
    grid-area: main;
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 25px;
}

footer p {
    color: #FFFFFF;
    font-size: 15px;
    margin: 20px 0;
}

h1 {
    color: #FFFFFF;
    font-size: 30px;
}

button{
    width: 150px;
    height: 50px;
    border-radius: 10px;
    border: none;
    font-weight: bold;
    background-color: #7D5A8D;
}

button:hover{
    background-color: #cccccc;
}