body {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 8fr 1fr;
    grid-template-areas:
        "header"
        "main"
        "footer";
}

main {
    padding: 80px 0;
}

section {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-evenly;
    width: 100%;
}

form {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #44487B;
    color: #FFFFFF;
    border-radius: 10px;
    width: 40%;
    height: auto;
    padding: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

fieldset {
    width: 90%;
    padding: 20px;
    border: none;
}

legend {
    line-height: 34px;
    width: 100%;
    border-radius: 20px;
    border: 2px solid #FFFFFF; 
    text-align: center;
    font-weight: bold;
    font-size: 18px;
}

label {
    display: inline-block;
    text-align: right;
    width: 140px;
    margin-right: 10px;
}

input, 
select {
    width: 300px;
    height: 35px;
    padding: 5px 20px;
    margin-bottom: 15px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 15px;
    border: none;
    background-color: #f8f8f8;
    vertical-align: top;
}

input:focus,
select:focus {
    outline: none;
    background-color: #eeeeee;
}

input:disabled,
select:disabled {
    cursor: not-allowed;
    background-color: #eeeeee;
    opacity: 0.7;
}

button {
    width: 250px;
    margin-top: 100px;
}

table {
    width: 45%;
    flex-direction: column;
    align-items: center;
    border-collapse: collapse;
    text-align: center;
}

th {
    background-color: #44487B;
    color: #FFFFFF;
    border-collapse: collapse;
}

#titulo th {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom: 2px solid #C2CAE8;
    font-size: 22px; 
}

#titulo {
    height: 70px;
}

#total {
    background-color: #44487B;
    color: #FFFFFF;
    border-collapse: collapse;
    font-size: 20px;
    font-weight: bold;
}

#total td {
    border: none;
}

#total td:nth-child(1) {
    border-bottom-left-radius: 10px;
}

#total td:nth-child(3) {
    border-bottom-right-radius: 10px;
}

#colunas {
    height: 70px;
}

tr {
    height: 100px;
}

td {
    border-bottom: 2px solid #44487B;
}

img {
    height: 60px;
    width: auto;
}