body{
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 8fr 1fr;
    grid-template-areas:
        "header"
        "main"
        "footer";
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px 0;
    width: 100%;
}

div {
    height: 80px;
    width: 50%;
    margin: 10px 20px 0 20px;
    padding: 10px 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    background-color: #7D5A8D;
}

h2 {
    color: #FFFFFF;
    font-size: 20px; 
}

img {
    height: 100%;
    width: auto;
}

div p{
    color: #FFFFFF;
    font-size: 24px;
}

form{
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: row;
    background-color: white;
    border-radius: 6px;
}

fieldset{
    width: fit-content;
    padding: 20px;
    margin: 10px 20px;
    border-radius: 4px;
    border: 1px solid #cccccc;
}

label{
    display: inline-block;
    text-align: right;
    width: 140px;
    margin-right: 5px;
}

input, select{
    width: 300px;
    height: 20px;
    padding: 0 20px;
    margin-bottom: 10px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 4px;
    border: 1px solid #cccccc;
    background-color: #f8f8f8;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

button{
    width: 150px;
    height: 50px;
    font-weight: bold;
    background-color: #7D5A8D;
}

button:hover{
    background-color: #cccccc;
}