<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/telaInicial.css">
    <title>COMPRE JÁ</title>
</head>
<body>
    <header id="home">
        <h1>COMPRE JÁ</h1>
        <a href="telaCarrinho.html"><button type="button">CARRINHO</button></a>
    </header>

    <sidebar>
        <ul></ul>
    </sidebar>

    <main></main>

    <footer><p>Desenvolvido por Dayana Brito de Toledo</p></footer>
</body>
</html>
<script type="text/javascript" src="../data/data.js"></script>
<script type="text/javascript" src="../js/telaInicial.js"></script>