<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/telaCarrinho.css">
    <title>COMPRE JÁ</title>
</head>
<body>
    <header id="home">
        <h1>COMPRE JÁ</h1>
    </header>

    <main>
    </main>

    <a href="telaConfirmacao.html" onclick="finalizar()"><button type="button">FINALIZAR COMPRA</button></a>

    <footer><p>Desenvolvido por Dayana Brito de Toledo</p></footer>
</body>
</html>
<script type="text/javascript" src="../js/telaCarrinho.js"></script>