<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/telaConfirmacao.css">
    <title>COMPRE JÁ</title>
</head>

<body>
    <header id="home">
        <h1>COMPRE JÁ</h1>
    </header>

    <main>
        <h4>
            COMPRA FINALIZADA!
            <br><br>
            Obrigado por comprar conosco!
        </h4>

        <section>
            <section id="dadosBox">
            </section>

            <table id="pedidosBox">
                <tr>
                    <th>Imagem</th>
                    <th>Nome</th>
                    <th>Preço</th>
                </tr>
            </table>
        </section>
    </main>

    <footer>
        <p>Desenvolvido por Dayana Brito de Toledo</p>
    </footer>
</body>

</html>
<script type="text/javascript" src="../js/telaConfirmacao.js"></script>